%table
  %tr.basket
    %td
      %b= t(:length) + " : "
      {{basket.info.length}}
      .overlay
        %a{ "@click" => "basket.info.length += 1; changed = true"}
          =image_tag "plus.png" , height: 25
        \&nbsp;
        %span     {{basket.info.length}}
        \&nbsp;
        %a{ "@click" => "basket.info.length -= 1; changed = true"}
          =image_tag "minus.png", height: 25
    %td
      %b= t(:width) + " : "
      {{basket.info.width}}
      .overlay
        %a{ "@click" => "basket.info.width += 1; changed = true"}
          =image_tag "plus.png", height: 25
        \&nbsp;
        %span     {{basket.info.width}}
        \&nbsp;
        %a{ "@click" => "basket.info.width -= 1; changed = true"}
          =image_tag "minus.png", height: 25
    %td
      %b= t(:height) + " : "
      {{basket.info.height}}
      .overlay
        %a{ "@click" => "basket.info.height += 1; changed = true"}
          =image_tag "plus.png", height: 25
        \&nbsp;
        %span     {{basket.info.height}}
        \&nbsp;
        %a{ "@click" => "basket.info.height -= 1; changed = true"}
          =image_tag "minus.png", height: 25
