%p
  Anyone with intelligence sees quite quickly in their life that there are many things not
  right in the world. Many accept, forget, some blame, the rest may create theories about
  what that is, and the more brave may even go out to try and change "it".
%p
  Many seem to have agreed that we are now polluting the planet and bringing about a
  new extinction level event. For all those, and these are intelligent people, i want to
  start these writings with a wonderful solution, a real reason to hope, and possibly
  action. I am talking about Thorium that, in a molten salt reactor, can bring about
  change for the good, the likes of which we have not seen.

%h2 Not widely know facts
%p
  I'll try and start from the facts, to have an undisputable base. Many people i have talked
  to about this, go into denial and disbelief quite quickly, and we'll get to that below.
  But first some basic facts

%h4 The danger of water coolent
%p
  Water expands by about 1000 times when it goes from liquid to steam. Using water as a
  coolent has inherrent dangers because it needs to be under pressure because of this.
  Especially in power plants, where the operating temperatures are often over boiling point.
%p
  Engineers know this off course, and that is why you see the large domes over nuclear
  power plants. Those are designed to keep everything in, no matter how much water
  expands.
%p
  The other issue is that once evaporated, there is no more cooling. Together these two
  sides of the issue have accounted for every nuclear disaster going so wrong.

%h4 The innecficiency of burning uranium
%p
  Burning uranium, ie using it as a fuel, in reactors is very inneficient. This is
  partly due to the physics and partly the processes. Current nuclear reactors use
  less than 1 percent of the energy of the fuel.
%p
  Since uranium has to be extracted and refined to have the "right" uranium, the fuel
  is very very expensive. More so than platinum in fact. In a way, the world is
  sitting on a large amount of very valuable waste.

%h4 Uncontrolled breeding
%p
  Current nuclear reactors have such bad accidents, because they are breeders, that
  are, to put it midly, hardly controlled. Breeding means that the "flame" of burning
  the fuel is all the time trying to get stronger. When control fails, the process
  run out of control, the "fire" gets stronger and stronger, until the fuel is consumed.
%p
  A comparable situation would be if you pile a large amount of wood into your stove,
  so large that if it just burned your stove would melt, and then controlled the fire
  by not allowing enough air into the fire. If your control failed, or you just didn't
  look for a bit, the fire would melt your stove and burn your house.
  I don't thnink these kind of stoves would sell so well, but when they cost several
  billions and have all kind of lobbys pushing them, hey, why not.

%h2 Safe efficient nuclear

%p
  If by now you are wondering why i am talking about nuclear so much, i understand.
  I did my physics master in renewable engergies after all, neuclear is BAD, right?
  Wrong.

.row
  .half_left= image_tag "moton-salt-reactor-experiment.jpg"
  .half_right
    %h4 Oakridge experiment
    %p
      The US airforce created an experiment to find a safe alternative to the uranium process.
      The navy had developed the currently known proces and these (and more) problems were
      known early on.
    %p
      An alternative was found and a reactor built n '64, and ran successfully from '65
      to '69. It was then shut down and burried for what can enthusiastically call political
      reasons. The experiment was rediscovered in 2008 by Sorenson, who works tirelessly
      to make this information public.

%h4 Molten salt, walk away safe
%p
  Salts, just like the table salt you know, are solid at room temperature. They may melt
  at 3-400 degree celcius and stay liquid until about 1500 deg. For cooling, this has
  3 very good properties.
%p
  There is very very little chance of the salt reaching boiling point. Most molten
  salt processes are run around 6-800 degrees, so far below the boiling. No boiling
  means no expansion, hardly any pressure, meaning much safer.
%p
  Secondly, the process can be run at a higher temperature. Water cooled systems
  may run 150-300 degrees, so the pressures don't get too high. Higher temperature
  processes are often more efficient, and 600+ degree is very usuful for many industrial
  processes to be used (thus achieving 100% efficiency).
%p
  Lastly, the process is often designed so, that the burning needs the salt to be
  present. Ie additives in the salt keep the fission process going. No salt and the
  "fire" dies. So when a pipe ruptures and the salt spills (and solidifies), the fission
  stops.
%p
  This last point can be used to create what is called a walk away safe system, by
  adding a frozen release valve to the system. When electricity stops, the valve
  melts, opens and lets the salt escape. Thus stopping the fission process.

%h4 Thorium, energy from dirt
%p
  Thorium is a very much less raadioactive material than uranium, one left to
  uranium on the chemical chart. It can not sustain a fission process on it's own.
  Small quantaties of uranium are needed to start the "fire" (fission process).
%p
  Thorium can be used as it is found, it does not need "enriching" or processing
  as uranium does. Thorium is found quite abundantly in the surface crust.
%p
  Thorium is alredy available, as it is a by product of mining for rare metals.
  It is currently considered a dangerous waste. Hundred of tons exist as wate,
  and billions in reserve.
%p
  Due to a different process used in thorium (molten salt) reactors, it is more
  efficient. Depending on the design 50-100% of the energy can be extracted.
  So not only is thorium cheaper to mine, but can be used much more efficiently.
  Also because of the molten salt factors, costs can be much much lower.

%h2 What gives
%p
  I tried to keep that short, because by now most people are like: If this were
  true why haven't i heard of it. Well, you are hearing now, and look at how
  you are reacting. Even super eco, proactive enviromentalists can be sceptical.
  We are, after all, all people, and this story should be told from people
  perspective, because , well, people are people.

%h4 Military conspiracy theory
%p
  As i said, the uranium vs thorium question was a US Navy vs US Airforce.
  These water based systems are really big and won't fit on a plane. But
  uranium reactors produce plutonium, from which one can build, yes, nuclear bombs.
  The thorium process does not produce plutonium.
%p
  The US is still concenrned with other people having uranium nuclear power stations,
  today. Have show plenty willingness to go to war to stop others from having
  it. So we can assume it is important, maybe important enough to shut down
  the thorium reserch. While that was going well and blah blah, no bombs, no good.
%p
  No evidence has been found fot this theory, but the US has shown bad moral judgement
  for a while. This makes it my favourite, it just makes sense. But it has to be said
  that Nixon is on record (tape recording) saying to close Oakridge down because it
  is not in California. This may be evn more difficult to digest, but either way
  we can say that the descision was not made in the name of the greater good.

%h4 Later resistance
%p
  So why has noone made this thing, if they managed it in the sizties? That is
  kind of the next line of "defence", though i wonder at this point what is being
  defended.
%p
  We can't really understand today, how cheap oil really was. Nuclear was really
  about independance, not price, until quite recently. After all, still
  now, at oil prices that were doomed to collapse western economies when i was young,
  most new power plants are coal, beacause uranium nuclear is still difficult and
  expensive (takes 20 years to amortise).
%p
  On the other hand, since uranium nuclear can produce nuclear weapons, strong and
  initially understandable restrictions have been placed. Due to the water expansion
  and criticallity issues, saftey regulations are tremendous.
%p
  But all these restrictions and regulations, as our own and other peoples views, are
  about uranium water based breeders. Thorium salt based, walk away safe systems
  are just in the same pot, as the destinction as not been made before.
%p
  In short there was no incentive to develop other reactors (no bombs, and systems
  were getting better), and reglations made it almost impossilbe to do so. Meaning
  only very large cooperatins could affort to even think about the develpment and
  beaureaucratic costs, and those are not well known for being innovative.

%h4 Current upswing
%p
  This would hardly be a soure of hope, if things had not changed. In 2008,
  Kirk Sorenson found the Oakridge experiment, followed up, and has been
  making the info public since.
%h4 US and Europe
%p
  Sorenson and at least a dozen others have created startups to build thorium,
  or at least molten salt reactors. The developemnt is early and regulatory
  beaureaucrats have only recently started to admit that these are different
  things. US research grants may even account for 1% of the fossil fuel sponsorship
  (that's supposed to be good news, we are talking billions after all)
%p
  Many of the current design focus on smaller units, often portable, so factory
  production (as opposed to on-site) would be possible. Some designs burn old
  uranium waste, so alieviate the problems caused by uranium nuclear.
%h4 China and India
%p
  When Sorenson published his findings chinese students were quick to find the info.
  China has now the largest commitment to thorium and molten salt research by far,
  hundreds i not a thousand by now, researchers. India too has made large commitment
  on the public sector to progress in the technology.

  %h2 Impact and Future
  %p
    It is almost impossible to imagine what abundent clean energy will do to the
    world we live in, mostly because we are so trained at limited resource thinking,
    or the zero sum game as it is called. So much of where we are is due to violent
    selfisness, always wanting more, that we have stopped seeing when enoough is
    enough long ago.
  %p
    Also, thorium adoption is a process, and it is difficult to say how quickly
    the process will unfold. Obviously not as quickly as possible, my guess is
    because we neede the whole climate crisis shock as a learning experience,
    but what else humanity needs, who knows. It should be possible to predict the
    steps though (not their timing).
