%p
  Ok, maybe that is too dramatic. It's not that i have been that silent, nor do i really
  have earthshaking things to say.
  But i have been
  %em thinking
  about writing for a while and now is the time to start. We'll see.
%p.full_width=image_tag("fire.jpg")

%h2 The awakening
%p
  When i started with spirituality, i remember there were some entry books.
  Rather vague writings for people like me, with vague feelings that there has to be
  more to this.
%p
  In hindsight i went through that phase quite quickly, started searching, quite
  intensely, and soon found my master. As the master says, noone makes it
  without a master, and so i started the journey.

%h2 The journey
%p
  This is that phase when you know you are confused, but don't know how to get out of
  it yet. It is learning in the most profound way. And like any learning it is
  difficult, and since the learning is about life it is profoundly difficult, often
  painful.
%p
  For me this involved spending all my time and money on it, going to far away retreats,
  reading, listening, stumbling to make sense of the new and putting it into practise.
  Much was revealed, much misunderstood, ties broken, new formed. I moved country,
  started to learn a new language as well as culture all the while my world was shaken
  and world-view redefined. I would be very suspicious of anyone who says it can be
  done smoothly, but in the end off course it was all worth it.

%h2 The good life
%p
  Because in the end, it all became true. I found love, true love, the kind i only
  heard about and you imagine from seeing movies. The real thing, 24/7 for now 15 years
  and counting. Shortly after we found our new home, and bit by bit everything else
  fell into place too. I have a new profession, a balanced work life, and enjoy almost
  everything i do, almost every day, without too much compartmentalization of my life.
%p
  After a while even money was no problem anymore and i (and we) live in a state that
  could be called paradise, if that didn't have so many ways of being misunderstood.
  To make it explicit that means i have everything i want. And not "just" the big
  things, like love, home, friends and work that i already mentioned, but really
  anything, material stuff included. Also i have no more questions, and this by virtue of
  knowing the answer to any question worth asking. Not the usual way of getting older
  and giving up.
%p
  This, or even achieving a state close to this, even momentarily, leads especially men,
  especially young men, to preach. Usually this comes from still unresolved issues, like
  eg Tolle (who was also a disciple of my master), and leads to inconsistent teachings, due
  to the incompleteness of experience. I have never felt a need to preach, and just mention
  all this to say that that is not the reason i want to start writing.
  In some areas of my life, like this, i do feel a need for precision (being a good Virgo).

%h2 Coherence
%p
  When i was at university, i always understood the tutors best. Not the professors,
  who i thought had lost touch, and did not really understand the problem anymore, just
  sort of reeled off the solution.
%p
  I think the same goes for many spiritual teachers and masters. The writings, and talk,
  is often abstracted, too much so. By contrast i hope to write down to earth,
  no fuss, no big theories.
%p
  Also i always found spiritual texts to be very self-contained. Like spiritual life and
  "normal" life would be two different things, which they are not, off course.
  But learning about the truth, seeing things as they are, obviously affects everything,
  not just what is called spiritual. Even my former profession of programming is seen
  in new light, and so is everything else. From global warming to LBGT to "old" truths
  about world hunger and the end of the world.
%p
  So i want to write about basically anything i perceive, in an intelligent,
  undestandable, fashion. Mostly just for me, so i can get a look at what i hope
  will be a coherrent whole, by virtue of the distance that the writing creates.
  I also hope to polish aspects that are not coherent and, by virtue of the "new"
  hypertext, cross link relevant parts.
%p
  For commenting and following i will cross post on medium. Unfortunately the
  hyper-linking will not work there as editing changes the url of a post.
