%h4.product-name
  =link_to shop_product_path(:link => product.link ) do
    = product.name
.row
  .col-md-4
    .square-image
      =image_tag product.main_picture.url
  .col-md-8.bottom
    .product-fact
      %p= markdown product.summary
      = link_to shop_product_path( :link => product.link ) , :class => :info do
        .price.selling
          = euros product.price
