.row
  .menus
    .large-1.columns
      
    .large-5.columns
      %ul.example-orbit{"data-orbit" => ""}
        %li
          %img{alt: "slide 1", src: "/assets/shop/menu-1.jpg", height: "230px"}/
          .orbit-caption
            Caption One.

    .large-5.columns    
      %ul.example-orbit{"data-orbit" => ""}
        %li
          %img{alt: "slide 1", src: "/assets/shop/menu-2.jpg", height: "230px"}/
          .orbit-caption
            Caption Kaks.
    .large-1.columns
      \     