.span8
  %div
    %ul#products.inline.product-listing
      -@products.each do |product|
        %li.columns.span3.secondary
          .h3= product.name
          .product-image
            %a{:href => prod_path( :id => product.link )}
              =image_tag product.main_picture.url(:list) if product.main_picture
          .product-name
            %a.info{:href => prod_path( :id => product.link )}
              %span.price.selling
                = product.price
                €
