.row
  .large-4.columns
    .menu-wrapper
      %a{href: "/page/subgroup"}
        %img{src: "/assets/shop/menu-vartalo.jpg"}/
        %h3 Luonnonkosmetiikka

  .large-4.columns
    .menu-wrapper
      %a{href: "/page/subgroup"}
        %img{src: "/assets/shop/menu-gourmet.jpg"}/
        %h3 Gourmet & Teet

  .large-4.columns
    .menu-wrapper
      %a{href: "/page/subgroup"}
        %img{src: "/assets/shop/menu-valaisin.jpg"}/
        %h3 Sisustus & Korut


.row
  .large-4.columns
    .menu-wrapper
      %a{href: "/page/subgroup"}
        %img{src: "/assets/shop/menu-laukut.jpg"}/
        %h3 Laukut

  .large-4.columns
    .menu-wrapper
      %a{href: "/page/subgroup"}
        %img{src: "/assets/shop/menu-huonetuoksu.jpg"}/
        %h3 Huonetuoksut

  .large-4.columns
    .menu-wrapper
      %a{href: "/page/subgroup"}
        %img{src: "/assets/shop/menu-vaatteet.jpg"}/
        %h3 Vaatteet & Huivit

