.span8
  %div
    %ul#products.inline.product-listing
      %li.span3
        .product-image
          %a{href: "/prod/cairo-dukkah-dippi"}
            %img{alt: "Cairo Dukkah dippi", src: "http://auringostaitaan.fi/spree/products/2/small/Cairo_Dukkah_dippi.jpg?1262353138"}/
        .product-name
          %a.info{href: "/prod/cairo-dukkah-dippi", title: "Cairo Dukkah dippi"}
            Cairo Dukkah dippi
            %span.price.selling 12,80 €
      %li.columns.span3.secondary
        .product-image
          %a{href: "/prod/cinnamon-apple-spice"}
            %img{alt: "Cinnamon Apple Spices", src: "http://auringostaitaan.fi/spree/products/3/small/Cinnamon_Apple_Spice.jpg?1262353138"}/
        .product-name
          %a.info{href: "/prod/cinnamon-apple-spice", title: "Cinnamon Apple Spices"}
            Cinnamon Apple Spices
            %span.price.selling 7,90 €
      %li.columns.span3
        .product-image
          %a{href: "/prod/cranberry-apple-spice"}
            %img{alt: "Karpalo-juoma",  src: "http://auringostaitaan.fi/spree/products/4/small/Cranberry_Apple_Spice.jpg?1262353139"}/
        .product-name
          %a.info{href: "/prod/cranberry-apple-spice", title: "Karpalo-juoma"}
            Karpalo-juoma
            %span.price.selling 8,50 €
      %li.columns.span3.omega.secondary
        .product-image
          %a{href: "/prod/cyprus-after-nine-dippi"}
            %img{alt: "Cyprus after nine dippi", src: "http://auringostaitaan.fi/spree/products/5/small/Cyprus_after_nine_dippi.jpg?1262353140"}/
        .product-name
          %a.info{href: "/prod/cyprus-after-nine-dippi", title: "Cyprus after nine dippi"}
            Cyprus after nine dippi
            %span.price.selling 12,80 €
      %li.columns.span3.alpha
        .product-image
          %a{href: "/prod/kaulakoru-marmori"}
            %img{alt: "Kaulakoru Marmori", src: "http://auringostaitaan.fi/spree/products/378/small/kaulakoru_marmori.jpg?1281898005"}/
        .product-name
          %a.info{href: "/prod/kaulakoru-marmori", title: "Kaulakoru Marmori"}
            Kaulakoru Marmori
            %span.price.selling 17,99 €
      %li.columns.span3.secondary
        .product-image
          %a{href: "/prod/korvanappi-hopea-pallo"}
            %img{alt: "Korvanappi Hopea pallo", src: "http://auringostaitaan.fi/spree/products/16/small/Korvanappi_Hopea_pallo.jpg?1262353150"}/
        .product-name
          %a.info{href: "/prod/korvanappi-hopea-pallo", title: "Korvanappi Hopea pallo"}
            Korvanappi Hopea pallo
            %span.price.selling 5,01 €
