.row
  .large-6.columns
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-1.jpg"}/
        %h3 Luonnonkosmetiikka

  .large-6.columns    
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-2.jpg"}/
        %h3 Sisustus & Gourmet


