.row
  .large-12.columns
    .large-2.columns
    .large-5.columns
      .menu-wrapper.menu-left
        %a{href: "/page/lista"} 
          %img{src: "/assets/shop/menu-1.jpg"}/
          %h3 Luonnonkosmetiikka

    .large-5.columns    
      .menu-wrapper.menu-right
        %a{href: "/page/lista"} 
          %img{src: "/assets/shop/menu-2.jpg"}/
          %h3 Sisustus
