.row
  .col-md-3
    .group-wrapper.side.checkout
      %img{:src => "/assets/shop/ikkuna.jpg"}/

  .col-md-9
    .row
      %h3.highlight Auringosta itään, Kuusta länteen
      %br/
      %div{:style => "float:left; padding-bottom:60px"}
        -# %img{:align => "left", :height => "275", :src => "/assets/store/kauppa/kauppa_net2-7f3764c7d512dea5783118497b5c9f7a.jpg", :width => "320"}/
      %div
        %b Auringosta itään, Kuusta länteen
        on vuonna 1998 perustettu liike, joka tuo maahan omaa sisustus- ja vaatemallistoa Aasiasta ja Euroopasta.
        %br/
        %b Haluamme luoda ja tuoda asiakkaillemme kauneutta,
        iloa ja hyvinvointia jota olemme maailmalla löytäneet. Kaikki liikkeemme tuotteet ovat omaa suunnittelua tai itse tuottajien luona valittuja. Näin tapaamme käyttämämme tuottajat, näemme että työ on laadukasta ja että työolot ovat hyvät.
        %br/
        %b Käymme reilua kauppaa.
        Tunnemme henkilökohtaisesti tuottajat joilta ostamme, ja tuemme pieniä perheyrityksiä. Meille on tärkeää, että kaikille osapuolille – asiakkaalle, tuottajille ja myyjille – jää hyvä olo.
        %br/
        %b Näemme paljon vaivaa sen eteen,
        että myymämme tuotteet olisivat kauniita ja ilahduttaisivat ihmisiä.
        %br/
        %br/
        %b Yritysasiakkaille
        meillä on myös tukku, löydät sen osoitteesta
        = succeed "." do
          %a{:href => "http://tukku.auringostaitaan.fi/"} tukku.auringostaitaan.fi
        %br/

        .row
          %br/
          .col-md-6
            %b Liikkeemme sijaitsee Helsingin Viiskulmassa,
            ja sinne pääsee helposti esimerkiksi raitiovaunuilla 3T ja 3B.
            %br
            %b Liike on avoinna arkisin klo 11—18 ja lauantaisin 11—15.
            %br/
            %h3.highlight
              %i Tervetuloa!
            %br/
            %br/
            
            %div.text-right
              %a{:href => "http://maps.google.fi/maps?f=q&source=embed&hl=fi&geocode=&q=fredrikinkatu+19+helsinki&sll=62.593341,27.575684&sspn=18.659796,43.901367&ie=UTF8&hq=&hnear=Fredrikinkatu+19,+00120+Helsinki&ll=60.164871,24.942656&spn=0.01281,0.025749&z=14", :style => "color:#2E6AB1;text-align:left", :target => "_blank"} Näytä suurempi kartta

          .col-md-6
            %iframe{:align => "left", :frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.fi/maps?f=q&source=s_q&hl=fi&geocode=&q=fredrikinkatu+19+helsinki&sll=62.593341,27.575684&sspn=18.659796,43.901367&ie=UTF8&hq=&hnear=Fredrikinkatu+19,+00120+Helsinki&ll=60.164871,24.942656&spn=0.01281,0.025749&z=14&output=embed", :width => "300"}
            %small

            