.row  
  %ul.breadcrumbs
    %li
      %a{href: "#"} Koti
    %li
      %a{href: "#"} Luonnonkosmetiikka
    %li.current
      %a{href: "#"} Kasvojenhoito

.row
  .large-3.columns
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-kasvo.jpg"}/
        %h4 Kasvojenhoito

    .intro2
      %img{src: "/assets/shop/farfalla-logo.jpg"}/
      %p
        %em
          %strong Farfalla Essentials
          on perustettu yli 26 vuotta sitten.
      %p Se on ensimmäinen sveitsiläinen, heti perustamisestaan lähtien luomulaatuisiin aromaterapia-, hyvinvointi- ja SPA -tuotteisiin keskittynyt yhtiö.
      %p
        Farfallalla on jo alusta alkaen ollut visio: jakaa oma inspiraationsa ja luomulaatuisen kosmetiikan asiantuntemuksensa.
        %a{href: "/page/lista"}
          Lue lisää >
        
  .large-9.columns
  
    %div
      %ul#products.inline.product-listing.no-bullet
        -@products.each do |product|
          %li.medium-4.columns
            .product-container
              .product-image
                .square-image
                  %a{:href => prod_path( :id => product.link )}
                    =image_tag product.main_picture.url
                .product-fact
                  %a.info{:href => prod_path( :id => product.link )}
                    %h5.product-name
                      = product.name
                      %span.price.selling
                        = product.price
                        €


                