%div
  %ul#products.inline.product-listing.no-bullet
    -@products.each do |product|
      %li.medium-3.columns
        .product-container
          .product-image
            %a{:href => prod_path( :id => product.link )}
              =image_tag product.main_picture.url , :width => "120"
          .product-fact
            .product-name
              = product.name
            .product-price
              %a.info{:href => prod_path( :id => product.link )}
                %span.price.selling
                  = product.price
                  €
