.row  
  %ul.breadcrumbs
    %li
      %a{href: "#"} Koti
    %li
      %a{href: "#"} Luonnonkosmetiikka
    %li
      %a{href: "#"} Kasvojenhoito
    %li.current
      %a{href: "#"} Cinnamon Apple Spices
    
.content.product-info
  .product-title-h1
    %h1.product-title Cinnamon Apple Spices
  .row
    .medium-1.columns
      %img{src: "spacer.gif"}/
    .medium-3.columns
      .picture
        .row
          #product-images
            #main-image
              =image_tag @product.main_picture.url(:product)
          .row
            .medium-3.columns
              #product-price
                %h6.product-section-title Hinta
            .medium-9.columns    
              %div
                %span.price.selling= euros @product.price

                
    .medium-6.columns
      .row
        #product-description
          %div
            = @product.description
          #cart-form
            %form{"accept-charset" => "UTF-8", action: "/shop/add_item", method: "post"}
              #inside-product-cart-form
                .add-to-cart
                  .row
                    .large-2.columns
                      %input#variants_3.title{max: "1", min: "1", name: "variants[3]", type: "number", value: "1"} 
                    .large-10.columns
                      %button#add-to-cart-button.medium.primary{type: "submit"}
                        Lisää ostoskoriin
    .medium-1.columns


