.row
  -if @group
    .col-md-3
      .intro2
        = image_tag @group.main_picture.url
        %p.description= @group.description
  
  .col-md-9
    - @groups.in_groups_of(3).each do |array|
      .row
        -array.each do |group|
          .col-lg-4
            -next unless group
            .subgroup-wrapper
              =link_to shop_group_path(group.link) do
                = image_tag group.main_picture.url(:product)
                %h3= group.name
    
 
