.row
  .large-9.columns
    .row
      .large-4.columns
        .menu-wrapper
          %a{href: "/page/lista"} 
            %img{src: "/assets/shop/menu-kasvo.jpg"}/
            %h4 Kasvojenhoito

      .large-4.columns    
        .menu-wrapper
          %a{href: "/page/lista"} 
            %img{src: "/assets/shop/menu-vartalo.jpg"}/
            %h4 Vartalonhoito

      .large-4.columns    
        .menu-wrapper
          %a{href: "/page/lista"} 
            %img{src: "/assets/shop/menu-hius.jpg"}/
            %h4 Hiustenhoito

    .row
      .large-4.columns
        .menu-wrapper
          %a{href: "/page/lista"} 
            %img{src: "/assets/shop/menu-tuoksu1.jpg"}/
            %h4 Parfyymit ja tuoksut

      .large-4.columns    
        .menu-wrapper
          %a{href: "/page/lista"} 
            %img{src: "/assets/shop/menu-oljy.jpg"}/
            %h4 Öljyt

      .large-4.columns    
        .menu-wrapper
          %a{href: "/page/lista"} 
            %img{src: "/assets/shop/menu-men.jpg"}/
            %h4 Miehille
    
  .large-3.columns
    .intro2
      %img{src: "/assets/shop/farfalla-logo.jpg"}/
      %p
        %em
          %strong Farfalla Essentials
          on perustettu yli 26 vuotta sitten.
      %p Se on ensimmäinen sveitsiläinen, heti perustamisestaan lähtien luomulaatuisiin aromaterapia-, hyvinvointi- ja SPA -tuotteisiin keskittynyt yhtiö.
      %p
        Farfallalla on jo alusta alkaen ollut visio: jakaa oma inspiraationsa ja luomulaatuisen kosmetiikan asiantuntemuksensa.
        %a{href: "/page/lista"}
          Lue lisää >
      %p
      %p
          
 
