.row.intro
  .large-3.columns
    %img{src: "/assets/shop/farfalla-logo.jpg"}/
  .large-9.columns
    %p
      %em
        %strong Farfalla Essentials
        on perustettu yli 26 vuotta sitten.
    %p Se on ensimmäinen sveitsiläinen, heti perustamisestaan lähtien luomulaatuisiin aromaterapia-, hyvinvointi- ja SPA -tuotteisiin keskittynyt yhtiö.
    %p Farfallalla on jo alusta alkaen ollut visio: jakaa oma inspiraationsa ja luomulaatuisen kosmetiikan asiantuntemuksensa. Farfallan tarkoituksena on luoda mahdollisimman korkealaatuisia ja tehokkaita tuotteita moderneissa, tyylikkäissä pakkauksissa. Suuri osa Farfallan kosmetiikkavalikoimasta on sertifioitu kansainvälisen NaTrue -sertifiointijärjestelmän mukaan ja lähes kaikilla muilla on BDIH:n myöntämä sertifikaatti.
    %p Farfalla onkin kehittänyt todella laadukkaita sertifioituja luomutuotteita. Monissa tuotteista on yli 95% luomua, joka on nykystandardeissa todella paljon. Lukuisissa tuotteissa luomuprosentti on jopa 98%.
    %p Suuri osa tuotteista on tiukassa NaTrue -järjestelmässä tasoa 3, jolloin vähintään 95% raaka-aineista on luomua.
 
.row
  .large-4.columns
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-kasvo.jpg"}/
        %h4 Kasvojenhoito

  .large-4.columns    
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-1.jpg"}/
        %h4 Vartalonhoito

  .large-4.columns    
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-hius.jpg"}/
        %h4 Hiustenhoito

.row
  .large-4.columns
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-tuoksu1.jpg"}/
        %h4 Parfyymit ja tuoksut

  .large-4.columns    
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-oljy.jpg"}/
        %h4 Öljyt

  .large-4.columns    
    .menu-wrapper
      %a{href: "/page/lista"} 
        %img{src: "/assets/shop/menu-men.jpg"}/
        %h4 Miehille
