.row
  .col-md-3
    .group-wrapper.side.checkout
      %img{:src => "/assets/shop/ikkuna.jpg"}/

  .col-md-9
    .row
      %h3.highlight Toimitusehdot
      %br/
      %h4.text Hinnat ja maksutavat
      Hinnat sisältävät arvonlisäveron 24%.
      %br/
      Maksaminen tapahtuu ennakkolaskulla. Kun olet tehnyt tilauksen, näet tilausvahvistuksessa laskun tiedot joiden perusteella voit maksaa. Saat myös kopion laskusta antamaasi sähköpostiosoitteeseen. Kun lasku on maksettu ja suoritus näkyy tilillämme, toimitamme tuotteen/tuotteet.
      %br/
      Yli 120 € tilauksen toimitamme ilman postikuluja (postipaketti).
      %br/
      Tuotteet voi tilata myös postiennakolla, jolloin lisämaksu Postipaketille on 4 €.
      %br/
      %br/
      %h4.text Toimitus
      Toimitamme tilaukset Suomeen postitse. Tavarat lähetetään varastostamme tavallisesti 2—3 työpäivän kuluessa siitä, kun tilausten maksusuoritus näkyy tilillä. Käsittelemme tilaukset niiden saapumisjärjestyksessä.
      %br/
      %br/
      %h4.text Toimituskulut
      %div{:align => "center"}
        %table.table.table-hover.table-condensed 
          %tr
            %td
              %b
                %em  paino
            %td
              %b
                %em
                  Postipaketti
                  %br/
                  noudetaan postista
            %td
              %b
                %em
                  Ovelle-paketti
                  %br/
                  vastaanottajan ovelle
            %td
              %b
                %em
                  Postiennakko,
                  %br/
                  Postipaketti
            %td     
            %td     
            %td     
          %tr
            %td  alle 2 kg
            %td 7 €
            %td 10 €
            %td 11 €
          %tr
            %td  2—5 kg
            %td 9 €
            %td 12 €
            %td 13 €
          %tr
            %td  5—15 kg
            %td 11 €
            %td 14 €
            %td 15 €
          %tr
            %td  15—30 kg
            %td 15 €
            %td 17 €
            %td 19 €
      %br/
      %h4.text Tuotteiden värit
      Teknisisten syiden vuoksi tuotteiden värit saattavat luonnossa poiketa siitä, miltä ne ruudulla näyttävät.
      %br/
      %br/
      %h4.text Rekisteröityminen
      Ostaessasi verkkokaupasta voit kirjautua asiakkaaksemme. Silloin sinun ei tarvitse kirjoittaa yhteystietojasi uudelleen kun ostat seuraavan kerran, ja voit jälkikäteen tarkistaa tilauksesi tiedot. Käytämme meille annettuja henkilötietoja ainoastaan asiakassuhteiden hallinnoimiseen, emme luovuta niitä ulkopuolisille.
      %br/
      Rekisteröityneille asiakkaillemme teemme kanta-asiakastarjouksia, muutaman kerran vuodessa.
      %br/
      %br/
      %h4.text Palautus- ja vaihto-oikeus
      Tuotteillamme on 14 päivän kuluttajasuojalain mukainen palautusoikeus. Mikäli et ole tilaamaasi tuotteeseen täysin tyytyväinen, otathan yhteyttä meihin sähköpostitse, niin voimme sopia palautustavasta.
      %br/
      Muistathan, että palautettavan tuotteen tulee olla käyttämätön ja alkuperäisessä pakkauksessaan.
      %br/
      %br/
      %h4.text Tietosuoja / henkilötiedot
      Käytämme meille annettuja henkilötietoja ainoastaan asiakassuhteiden hoitamiseen. Emme luovuta niitä ulkopuolisille. Asiakas voi poistaa yhteystietonsa milloin tahansa lähettämällä poistamispyynnön sähköpostitse. Emme pyydä emmekä tallenna mitään henkilökohtaisia maksutietoja asiakkailta.
      %br/
      