#content.columns.sixteen{"data-hook" => ""}
  %div{align: "center", font: "", size: "1em"}
    %a{href: "/pages/farfalla"}> FARFALLA LUOMUKOSMETIIKKA
                
    = succeed "\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}\u{a0}" do
      %a{href: "/pages/huonetuoksut"} HUONETUOKSUT
    %a{href: "/pages/gourmet"} GOURMET
  %table{align: "center", border: "0", cellpadding: "3", cellspacing: "4"}
    %tbody
      %tr{background: "#ffffff"}
        %td
          %a{href: "/pages/farfalla"}
            %img{src: "http://auringostaitaan.fi/assets/store/kauppa/farfalla-p-e2aa7c994acda55e70f1d5c462644240.jpg"}/
        %td
          %a{href: "/pages/huonetuoksut"}
            %img{src: "http://auringostaitaan.fi/assets/store/kauppa/home_rose-p-d993d6cdd7b74fbb89dab2e984946853.jpg"}/
        %td
          %a{href: "/pages/gourmet"}
            %img{src: "http://auringostaitaan.fi/assets/store/kauppa/feuer-p-3f2cbc32863dab529000578171ff9248.jpg"}/
      %tr{background: "#ffffff"}
        %td{valign: "top"}
          %b Farfalla – laadukasta luomukosmetiikkaa.
          Farfalla on luonut sarjan todella korkealaatuisia, sertifioituja luomutuotteita. 80 prosentissa tuotteista on yli 95% luomua, joka on nykystandardeissa todella paljon.
          %p{style: "text-align:right"}
            %a{href: "/pages/farfalla"}> lue lisää
             
        %td{valign: "top"}
          %b ipuro huonetuoksut – hyvinvointia arkeen sekä pientä ja edullista ylellisyyttä.
          Puhtaita ja laadukkaita huonetuoksuja, joiden raaka–aineet on kerätty Grassen kukkaisalueelta.
          %br/
          %p{style: "text-align:right"}
            %a{href: "/pages/huonetuoksut"}> lue lisää
             
        %td{valign: "top"}
          %b Gourmet-tuotteemme ovat herkullisia, huolella valittuja ja laadukkaita tuotteita.
          Kaikki tuotteet on ennen valikoimaamme pääsyä tutkittu ja maistettu, ja vain todella korkealaatuiset ja maukkaat pääsevät myyntiin.
          %br/
          %p{style: "text-align:right"}
            %a{href: "/pages/gourmet"}> lue lisää
             