%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th= t(:picture)
      %th
        = t(:name)
        %input{:name => "query", "v-model" => "searchQuery"}
      %th{ "v-for" => "key in columns" , "@click" => "sortBy(key)" , ":class" => "{ active: sortKey == key }" }
        {{ key | capitalize }}
        %span.arrow{":class" => "sortOrders[key] > 0 ? 'asc' : 'dsc'"}
      %th
  %tbody
    %tr{:class => "line-#{cycle("1","2")}" ,"v-for" => "product in filteredData"}
      %td
        %img{ "v-bind:src" => "product.picture" }
      %td
        %a{ ":href" => "'/products/' + product.id"}
          {{product.name}}
      %td{ "v-for" => "key in columns" }
        {{ product[key]}}
      %td
        %a{ "@click" => "to_basket(product)" , "v-if" => "!in_basket(product)"}
          =image_tag "plus.png" , width: "30px"
