.row.vueapp
  .col-md-6
    %h2= in_place @purchase , :name
  .col-md-2
  .col-md-2.pill{"@click" => "tab = 1" , "v-bind:class" => "{active_pill: tab == 1}"}
    Basket
  .col-md-2.pill{"@click" => "tab = 2", "v-bind:class" => "{active_pill: tab == 2}"}
    Products
  .col-md-12.tab{"v-bind:class" => "{active_tab: tab == 1}"}
    =render "basket"
  .col-md-12.tab{"v-bind:class" => "{active_tab: tab == 2}"}
    =render "products"
  .col-md-12.tab{"v-bind:class" => "{active_tab: tab == 3}"}
    TAB 3
:javascript
  var app = new Vue({
    el: '.vueapp',
    data: {
      purchase: #{@purchase.to_json(include: :supplier)},
      basket: #{ render( partial: "purchases/basket.json") },
      products: #{ render( partial: "purchases/products.json") },
      tab: 2,
      changed: false
    } ,
    methods: {
      submit_basket: function(){
        console.log("Submit basket");
      },

      to_basket: function(product){
        this.basket.items.push({ name: product.name , picture: product.picture,
                                 quantity: 1, price: product.cost, product_id: product.id});
        this.changed = true;
      },
      in_basket: function(product) {
        for(var i = 0; i < this.basket.items.length; i++) {
          if(this.basket.items[i].product_id == product.id) return true;
        }
        return false;
      },
      total_price: function() {
        var sum = 0;
        for(var i = 0; i < this.basket.items.length; i++) {
          sum = sum + this.basket.items[i].price * this.basket.items[i].quantity
        }
        return sum;
      },
      total_amount: function() {
        var sum = 0;
        for(var i = 0; i < this.basket.items.length; i++) {
          sum = sum + this.basket.items[i].quantity
        }
        return sum;
      }
    }
  })
