<h2><%= t(:editing, :default => 'Editing') %> <%= t('app.models.Purchase.bs_caption', :default => 'Purchase') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), Purchases_path, :class => "btn" %>