.row.footer
  .col-4
    %b= raw RubyClerks.config(:footer_left)
    %br
    = raw RubyClerks.config(:footer_left2)

  .col-4
    = raw RubyClerks.config(:footer_center)

  .col-4
    = raw RubyClerks.config(:footer_right)
