<h2><%= t(:editing, :default => 'Editing') %> <%= t('app.models.bucket.bs_caption', :default => 'bucket') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), buckets_path, :class => "btn" %>