%h2
  = t(:editing, :default => 'Editing')
  = t('app.models.product_group.bs_caption', :default => 'product_group')
= render 'form'
= link_to t(:back, :default => "Back"), product_groups_path, :class => "btn"
