<h2><%= t(:new, :default => 'New') %> <%= t('app.models.product_group.bs_caption', :default => 'product_group') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), product_groups_path, :class => "btn" %>
