.blog_index
  - @posts.each do |slug , post|
    %h2
      = link_to post.title.capitalize , blog_post_url(post.slug)
      %span
        (
        =post.date
        )
    %div
      = render( "posts/#{post.template_name}" )[0 ... 350].html_safe
      %span.whole= link_to ". . . .Read whole post" , blog_post_url(post.slug)
    %hr
