/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 */

// configuartion of zurb has to go before its import

$primary-color: #6827EC;
$topbar-bg: $primary-color;
$global-radius: 6px;
$open: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;

$table-head-bg: scale-color($primary-color, $lightness: 75%);
$table-bg: scale-color($primary-color, $lightness: 98%);
$table-even-row-bg: scale-color($primary-color, $lightness: 90%);
$table-border-color: scale-color($primary-color, $lightness: 75%);

@import "admin_foundation.scss";

// new classes using zurb go after the import

.alert-notice {
  background-color: #00FFEB;
  padding: 8px;
  radius: $global-radius;
}

.alert-error {
  background-color: red;
}
.admin-button { 
  $button-radius: rem-calc(5);
  @include button(rem-calc(5), #87B624, true, false, false, false);
}
.submit-button { 
  @include button(rem-calc(15), orange, true, false, false, false);
  $button-radius: rem-calc(15);
}

body {
  font-family: $open;
}

.new-button {
  top: 15px;
  text-align: right;  
}

div.pagination {
margin-bottom: 7px;
}

ul.pagination {
margin-left: 65px;
margin-bottom: 7px;
}

ul.pagination li {
  font-size: 0.8rem;
  }
  
.admin-table  {
font-size: 0.5rem;

}