/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 */

// configuartion of zurb has to go before its import

$topbar-bg: #9F83D8;

@import "admin_foundation.scss";

// new classes using zurb go after the import

.alert-notice {
  background-color: #00FFEB;
};
.alert-error {
  background-color: red;
};
.admin-button { 
  $button-radius: rem-calc(10);
  @include button(rem-calc(10), green, true, false, false, false);
};
.submit-button { 
  @include button(rem-calc(15), orange, true, false, false, false);
  $button-radius: rem-calc(15);
};