/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery-ui
 */


$navbar-inverse-bg: #6827EC;
$navbar-height:70px;
body { padding-top: 80px; }

$primary-color: #6827EC;
$topbar-bg: $primary-color;
$global-radius: 6px;
$open: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;

$table-head-bg: scale-color($primary-color, $lightness: 75%);
$table-bg: scale-color($primary-color, $lightness: 98%);
$table-even-row-bg: scale-color($primary-color, $lightness: 90%);
$table-border-color: scale-color($primary-color, $lightness: 85%);

$tausta-bg: scale-color($primary-color, $lightness: 95%);


@import "bootstrap";

.container-fluid{
        max-width: 90%;
}

a.online{
  color: green;
}

.alert-notice {
  background-color: #00FFEB;
  padding: 8px;
  radius: $global-radius;
}

.alert-error {
  background-color: red;
};


body {
  font-family: $open;
}

.new-button {
  top: 15px;
  text-align: right;  
}

.strip {
  position:relative;
  bottom:-48px;
	margin-bottom: 7px;
}

.pagination {
margin-top: 55px;
}


ul.pagination {
margin-bottom: 7px;
}

ul.pagination li {
  font-size: 1.4rem;
  }

ul.pagination li a{
  background-color: rgba(255, 255, 255, 0.9);
  }
  
.admin-table  {
font-size: 0.5rem;

}

thead, tbody {  vertical-align: top;

}

.tausta { 
  background: $tausta-bg;
  border-radius: 6px;
  padding-top: 6px;
  margin-bottom: 20px;
}

.products{ 
  background: image-url('office_clerk/products-2.jpg') no-repeat;
}

.baskets{ 
  background: image-url('office_clerk/baskets-2.jpg') no-repeat;
}

.orders{ 
  background: image-url('office_clerk/orders-2.jpg') no-repeat;
}

.purchases{ 
  background: image-url('office_clerk/purchases-2.jpg') no-repeat;
  height: 161px;
}

.categories{ 
  background: image-url('office_clerk/categories-2.jpg') no-repeat;
}

.suppliers{ 
  background: image-url('office_clerk/suppliers-2.jpg') no-repeat;
}

.clerks{ 
  background: image-url('office_clerk/clerks-2.jpg') no-repeat;
}
