/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery-ui
 *= require reporter
 *= require printer
 *= require purchase_app
 */


$navbar-inverse-bg: #6827EC;
$navbar-height:70px;
body { padding-top: 80px; }

$primary-color: #6827EC;
$topbar-bg: $primary-color;
$global-radius: 6px;
$open: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;

$table-head-bg: scale-color($primary-color, $lightness: 75%);
$table-bg: scale-color($primary-color, $lightness: 98%);
$table-even-row-bg: scale-color($primary-color, $lightness: 90%);
$table-border-color: scale-color($primary-color, $lightness: 85%);

$tausta-bg: scale-color($primary-color, $lightness: 95%);

@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid{
        max-width: 90%;
}

a.online{
  color: green;
}

.alert {
  padding: 8px;
  radius: $global-radius;
}

.alert-notice {
  background-color: #00FFEB;
}

.alert-alert {
  background-color: #ff8080;
};


body {
  font-family: $open;
  font-size: 16px;
}

.new-button {
  top: 15px;
  text-align: right;
}

.strip {
  position:relative;
  bottom:-48px;
	margin-bottom: 7px;
}

.pagination {
  margin-top: 55px;
}

ul.csv{
  float: right;
}

ul.pagination {
  margin-bottom: 7px;
}

ul.pagination li {
  font-size: 1.4rem;
}

ul.pagination li a{
  background-color: rgba(255, 255, 255, 0.9);
}

.admin-table  {
  font-size: 0.5rem;
}

thead, tbody {  vertical-align: top;

}

.tausta {
  background: $tausta-bg;
  border-radius: 6px;
  padding-top: 6px;
  margin-bottom: 20px;
}

.products{
  background: image-url('office_clerk/products-2.jpg') no-repeat;
}

.baskets{
  background: image-url('office_clerk/baskets-2.jpg') no-repeat;
}

.orders{
  background: image-url('office_clerk/orders-2.jpg') no-repeat;
}

.purchases{
  background: image-url('office_clerk/purchases-2.jpg') no-repeat;
}

.categories{
  background: image-url('office_clerk/categories-2.jpg') no-repeat;
}

.suppliers_index_start{
  background: image-url('office_clerk/suppliers-2.jpg') no-repeat;
}

.clerks{
  background: image-url('office_clerk/clerks-2.jpg') no-repeat;
}

.admin {
  .product-container {
    margin-bottom: 31px;
    position: relative;
    border: 1px solid #5BE7E2;
    box-shadow: 2px 2px 5px #E8EDF0;
    overflow: hidden;
    width: 260px;
    }

  .product-container h4 {
    position: absolute;
    left: 0;
    padding: 10px;
    color: #000000;
    font-size: 1.5rem;
    background: #94cef6;
    margin: 0px;
  	width: 100%;
  	z-index: 1;
  }

  .square-image {
    height: 200px;
  }

  .square-image img {
  	position: absolute;
  	bottom: 4px;
  }

  .bottom {
  	position: absolute;
  	bottom: 0;
  	right: 0;
  }

  .product-fact {
    border-top: 1px solid #0078ff;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 10px 0 5px;
  	position: relative;
  	top: 75px;
  }

  .product-fact	p {
  	font-size: 1.2rem;
  	font-weight: 500;
  	color: #000000;
  	line-height: 110%;
  	margin-bottom: 3px;
  }

  .product-list-price {
    color: #04617A;
    font-weight: 400;
    font-size: 2.6rem;
    text-align: right;
    position: absolute;
    bottom: 2px;
    right: 22px; }

}

.no-bg {
  background: none;
}

.no-border td {
  border: none;
}

table .price , .inventory {
  white-space: nowrap;
}
