.bar
  position: relative
  padding: 20px 10px
  ul
    margin: 0px
    padding: 0px
    border: 0px
    list-style-type: none
    height: 30px
    li.active a
      background-color: rgb(80,36,203)
    li
      float: left
      display: list-item
      a
        text-decoration: none
        color: #fff
        background-color: rgb(103,53,232)
        transition: all 0.4s ease-in-out
        padding: 12px
        &:hover
          text-decoration: none
          color: #fff
          background-color: #007bff
          padding: 12px 12px 30px 12px
