// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 */
 
$topbar-bg: #108BAD;
$highlight: #108BAD;

#footer {
  padding-top: 6px;
  padding-left: 18px; padding-right: 18px;
  font-size: .8em;
	line-height: 15
	0%;
	strong, b {
    color: highlight;
  }  
}

.main-image {
  padding-top: 15px;
}

body {
  font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.menus {
  padding: 8px;
  margin: 0 auto;
}

.menu-wrapper {
  margin-left: 100px;
	position: relative;
	margin: 13px;
}

.menu-left {
  left: 100px;
}

.menu-right {
  left: -100px;
}

.menu-wrapper h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #FFF;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  margin: 0px;
	width: 325px;
}

.product-image {
  padding: 8px;
  margin-left:auto;
  margin-right:auto;
  height: 170px;
}

  .product-image img {
	width: 140px;
}

.product-container {
  border: 1px dotted #007bd2;
  box-shadow: 3px 3px 2px #d4e1e6;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
	padding: 5px;
	width: 85%;
	height: 270px;
}

.product-fact {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
	font: .9em/120% "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	padding: 4px 4px 6px;
	width: 80%;
  
}

.product-name {
	padding-bottom: 3px;
}
  
.product-price {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 150%;
  border-top: 1px solid #588ebf;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

@import "shop_foundation" ;


.submenu {
  padding: 8px;
  text-align: center;
  img {
  padding: 8px;
  }
}

.submenu-container {
  position: relative;
  margin: 0 auto;
  }

.submenu-image {
  position: absolute;
  left: 0;
  top: 0;
	margin-top: 10px;
}
.submenu-image2 {
  position: absolute;
  left: 60;
  top: 0;
	margin-top: 10px;
}


.submenu-text {
  width: 325px;
  height: 65px;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: 190px;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.3);
	padding: 6px;
}

