// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans); 

$highlight: #108BAD;
$secondary-color: #c7e1df;
$table-bg-accent: #E2EEF1;
$breadcrumb-bg: rgba(213,223,255,0.3);


ul.subcat {
	font-size: .9em;
	padding-left: 10px;
}

ul.cat {
		padding-left: 0;

}

.navbar-nav li a {
  font-size: 12px;
  color: #E4DFDF; }

.main {
  max-width: 92%;
  margin: 70px auto 0; }

@import "bootstrap";

.top-bar-section ul {
    background: #ffffff;
    }
    
.logo {
  	background-image: image-url("shop/kansi.jpg");
  	background-repeat: no-repeat;
    background-position: center center;
}   

.top-bar-section form {
    background-color: $highlight;
    padding-right: 5px;
}

.right {
  text-align: right;
}

.footer {
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  line-height: 140%;
	font-size: .9em;
	strong, b {
  color: $highlight;
  }  
}




.menus {
  padding: 8px;
  margin: 0 auto;
}

.group-wrapper {
	position: relative;
	margin-top: 25px;
}


.group-wrapper h3, h5, {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #FFF;
  background: black;
  /* fallback color */
  background: rgba(3, 142, 235, 0.25);
	text-shadow: black 1px 1px 03px;
  margin: 0px;
	width: 100%;
}

.group-wrapper.sub img {
height: auto;
max-width: 100%;  }

.group-wrapper.side img {
height: auto;
width: 200px;  }

.group-wrapper.side h5 {
  font-size: 18px;
  padding: 7px;
	width: 200px;
}

.intro {
  padding-top: 20px;
}

.intro2 {
  width: 80%;
}

.img-responsive-prod {
  display: block;
  max-width: 100%;
  max-height: 400px;}

.intro p {
  font-size: .8em;
	line-height: 130%;
	margin-bottom: 12px;
}

.intro2 p {
  font-size: .9em;
	line-height: 130%;
	margin-bottom: 12px;
}

.intro2 img, .intro3 img {
  max-width: 150px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.intro3 p {
  font-size: .8em;
	line-height: 130%;
	margin-bottom: 12px;
}

.product-container {
  margin-bottom: 31px;
  padding: 0 0 86px;
  text-align: center;
  position: relative;
  border: 1px solid #cae3fb;
  box-shadow: 2px 2px 5px #E8EDF0;
  border-radius: 4px;
  height: 375px; 
  width: 185px;
  }


.square-image {
  height: 200px;}


.square-image img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
  height: 190px;
  max-width: 100%;
  margin: auto;
	padding-top: 10px;
}
    


.product-fact {
  height: 49px;
  position: absolute;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  margin-bottom: 3px;
  border-top: 1px solid #0078ff;
	margin-right: 0;
	text-align: left;
	p {
	font-size: 1.2rem;
	color: #000000; 
	line-height: 110%;
	margin-bottom: 3px;
	}
}

h5.product-name {
	font-style: bold;
	margin-bottom: 3px;
}

h1.product-title {
	font-size: 2.3rem;
	color: $highlight;
}

#product-description {
	line-height: 130%;
	margin-top: 10px;
}

#inside-product-cart-form {
	margin-top: 10px;
}

.product-price {
  margin-top: 12px;
}

.price.selling {
  color: $highlight;
	font-weight: 300;
	font-size: 1.8rem;
	text-align: right;
}

.breadcrumb {
  margin: 8px 15px 20px;
}

.highlight{
  color: $highlight;
}

.breadcrumb {
border-radius: 0px;
}

.list {
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px dotted #0078ff;
	float: left;
}

.basket-total {
	font-size: .9em;
	table {
	border: 0px;
	} 
}

.frame {
  margin-right: 0;
  margin-left: 0;
  border: 1px dotted #0078ff;
  border-radius: 4px;
  padding: 12px;
  font-size: .75em;
}

@media screen
{    
    .no-screen, .no-screen *
    {
        display: none !important;
    }
}

.navbar-inverse .navbar-inner {
  border: 0px;
  background-color: #108BAD;
}

.carouselli {
	margin-top: 50px;
	margin: 50px auto 0;
	width: 1000px;
	text-align: center;
}

.carousel-control {
  position: absolute;
  top: 93%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #BDB6B6;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
}

body {
    margin-top: 50px; 
    /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.banner {
    text-align: center;
    background: image-url("shop/violetti-lev.jpg") no-repeat center center;
    background-size: cover;
    min-height: 500px;
    margin-top: 15px;
}

.taustalogo {
  background: url(/assets/shop/kansi.jpg) no-repeat scroll;
  height: 107px;
}

.dropped {
	top: 50px;
	position: relative;
}

.dropdown-menu {
  padding-left: 10px;
}

.navbar-inverse  .navbar-nav > li > a {
color: #E2E7F6; }

.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
background-color: #0A6779; }


.alert-shop {
  padding: 8px 15px;
  margin: 8px 0 10px;
  background-color: rgba(155, 27, 255, 0.3);
  color: #682EA7;
  font-weight: 500;
  text-align: center;
  border-radius: 0px; }
  
.alert-notice {
  margin: 1px;
}  

.welcome {
  max-width: 92%;
  margin: 20px auto 0; }

.btn-mega {
  padding: 20px 32px;
  font-size: 28px;
  line-height: 1.33;
  border-radius: 6px;
  }
