// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 */
 
$topbar-bg: #108BAD;
$highlight: #108BAD;
$open: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
$secondary-color: #c7e1df;
$crumb-bg: lighten($secondary-color, 2%);
$crumb-border-style: none;

@import "shop_foundation" ;

.top-bar-section ul {
    background: #ffffff;
    }
    
.logo {
  	background-image: url(shop/kansi.jpg);
  	height: 250px;
}   

.top-bar-section form {
    background-color: highlight;
    padding-right: 5px;
}


#footer {
  padding-top: 30px;
  padding-left: 18px; padding-right: 18px;
  font-size: .8em;
	line-height: 150%;
	strong, b {
  color: highlight;
  }  
}

.banner {
  padding-top: 15px;
}

body {
  font-family: $open;
}

.menus {
  padding: 8px;
  margin: 0 auto;
}

.menu-wrapper {
	position: relative;
	margin-top: 25px;
}

.menu-wrapper h3 {
  font-size: 1.45rem;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #FFF;
  background: black;
  /* fallback color */
  background: rgba(70,3,21,0.25);
	text-shadow: black 1px 1px 03px;
  margin: 0px;
	width: 100%;
}

.menu-wrapper h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 7px;
  color: #FFF;
  background: black;
  /* fallback color */
  background: rgba(70,3,21,0.25);
	text-shadow: black 1px 1px 03px;
  margin: 0px;
	width: 100%;
}

.intro {
  padding-top: 20px;
}

.intro p {
  font-size: .8em;
	line-height: 130%;
	margin-bottom: 12px;
}

.intro2 p {
  font-size: .7em;
	line-height: 130%;
	margin-bottom: 12px;
}

.intro2, .intro3 img {
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro3 p {
  font-size: .8em;
	line-height: 130%;
	margin-bottom: 12px;
}


  
.product-image {
  padding-top: 8px;
  height: 200px;
  text-align: center;
  position: relative; }

.product-image p {
  position: absolute;
  left: 25px;
  bottom: 48px;
  padding: 2px;
  color: white;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  margin: 0px;
	width: 120px;
	text-align: center;
}

.square-image {
  margin-left: auto;
  margin-right: auto;
  width: 150px; 
  height: 150px;
  }
  
.product-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 5px 0 0;
  height: 220px;
  background-color: rgba(212,232,255,0.2); }
  

.product-fact {
  background-color: rgba(213,223,255,0.8);
	height: 49px;
	position: absolute;
	bottom: -17px;
	padding-right: 3px;
	padding-left: 3px;
	width: 100%;
	margin-bottom: 3px;
}

h5.product-name {
	line-height: 120%;
}
  
.product-price {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 150%;
  border-top: 1px solid #588ebf;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

h1.product-title {
	font-size: 2.3rem;
	color: #108BAD;
}

body {
  font-family: "Open Sans";
}

#product-description {
  font-size: 0.9rem;
	line-height: 120%;
	border-bottom: 1px dotted #007bd2;
	margin-top: 10px;
}

#inside-product-cart-form {
	margin-top: 12px;
}

h6.product-section-title {
font-weight: 500;
margin-top: 0.1rem;
}

span.price.selling {
  color: #108BAD;
	margin-left: 4px;
	margin-top: 0.3rem;
}


.submenu {
  padding: 8px;
  text-align: center;
  img {
  padding: 8px;
  }
}

.submenu-container {
  position: relative;
  margin: 0 auto;
  }

.submenu-image {
  position: absolute;
  left: 0;
  top: 0;
	margin-top: 10px;
}
.submenu-image2 {
  position: absolute;
  left: 60;
  top: 0;
	margin-top: 10px;
}


.submenu-text {
  width: 325px;
  height: 65px;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: 190px;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.3);
	padding: 6px;
}

.bread {
  margin-top: 12;
}

