%li
  = link_to "#{group.name} (#{group.products.no_items.count})" , category_path(group), :title => t(:edit)
  - ar = Category.where(:category_id => group.id)
  -if ar.length > 0
    %ul.subcat
      - ar.each do |g|
        = render "treeview" , :group => g

