%li
  = link_to "#{group.name} (#{group.products.length})" , category_path(group), :title => t(:edit) , :class => group.online && "online"
  - ar = group.categories
  -if ar.length > 0
    %ul.subcat
      - ar.each do |g|
        = render "treeview" , :group => g
