%table.table.table-bordered.table-condensed
  %tbody
    %tr.line-1
      %td=t(:name)
      - @product.products.each do |product|
        %td
          = image_tag product.main_picture.url(:thumb)
          =link_to product.name , product_path(product)
    %tr.line-2
      %td=t(:price)
      - @product.products.each do |product|
        %td=euros(product.price)
    %tr.line-1
      %td
        =t(:inventory)
      - @product.products.each do |product|
        %td=product.inventory
    %tr.line-2
      %td=t(:ean)
      - @product.products.each do |product|
        %td=product.ean
