%h4.product-name
  =product.name
.row
  .col-md-4
    .square-image
      =image_tag product.main_picture.url
  .col-md-8.bottom
    .product-fact
      %p= markdown product.summary
      .price.selling
        = euros product.price
