.row
  %h3= products.length.to_s + " " + t(:products)
  %table.table.table-striped.table-bordered.table-sm
    %tbody
      - products.in_groups_of(3).each do |array|
        %tr{:class => "line-#{cycle("1","2")}"}
          -array.each do |product|
            -next unless product
            %td
              = link_to product_path(product), :title => t(:show) do
                = product.full_name
